{% extends "blog/base.html" %}
{% block content %}
<h1>About this company</h1>
<p>This is a blogging website. Completely made from scratch with Django.</p>

<p>Thanks for checking it out</p>
{% endblock %}